---
layout: default
---
<ul class="base-layout">
  <li>
    <h1 id="page-label">Home</h1>
  </li>

<!--  <div class="commit-chart-container">-->
<!--    <img src="https://ghchart.rshah.org/AlexMussell" alt="Alexander Mussell personal account commit history." />-->
<!--  </div>-->


  <div class="introduction-container">
    <h2 class="job-title">Containerise, Automate, Script, Repeat.</h2>
    <div class="personal-summary">
      <p><b>14/01/2025 - NOTE: This website/contact/linkedIn is currently undergoing maintenance. Please excuse the mess.</b> </p>
      <p>Hi! I’m Alex. I’ve spent my career creating, automating, architecting, and supporting multi-environment platforms, infrastructure,
        and services at global scale - primarily in enterprise digital streaming across both public and private clouds.
        <br>
        <br>
        When not working, you can usually find me thru-hiking, at the gym, or walking my Pharaoh Hound, Cleo, with my wife.
        <br>
        <br>
        Please feel free to reach out about anything, I’m always happy to chat!
        <br>
        <br>
        Even if nobody ever comes here, I learn best when trying to explain things to others. This is my attempt to do that.
      </p>
    </div>
  </div>

<!--  <div class="comms-button-wrapper">-->
<!--    <a href="mailto:alex@alexandermussell.com?subject=Enquiry for Alexander Mussell.">-->
<!--      <button class="comms-button">EMAIL ME</button>-->
<!--    </a>-->
<!--  </div>-->

  <div class="employment-container">
    <section class="content-section">
      <header class="employment-header">
        <h3>Employment History</h3>
      </header>
      <div class="cv-listing">
        <div class="company-details">
          <h4>NBCUniversal/Sky</h4>
          <h5>Snr. Platform Engineer</h5>
          <h5>Global Pipeline and Tooling</h5>
          <h6>April 2025 - present</h6>
        </div>
        <div class="job-description">
          <p>
            After the acquisition of Sky by NBCUniversal/Comcast, due to various exposure and specialisation in my previous posting,
            I was put forward to help the Global Pipeline and Tooling team, where we are responsible for the global CI/CD pipelines and
            tooling for all the propositions across the globe.
          </p>
        </div>
      </div>
      <div class="cv-listing">
        <div class="company-details">
          <h4>NBCUniversal/Sky</h4>
          <h5>Snr. Site Reliability Engineer</h5>
          <h5>Cloud Engineering Platform</h5>
          <h6>April 2022 - 2025</h6>
        </div>
        <div class="job-description">
          <p>
            Working in the Cloud Engineering Platform team we worked on administering AWS and GCP networking and accounts
            on a global scale, covering multi-region (USA, SA, EU), multi-proposition (Peacock, Showtime, ShowMax, NowTV),
            and multi-organisation (Sky, NBCU, and 3rd party suppliers).
            <br>
            Alongside account vend, we were also responsible for administering cloud access, services, guardrails, asset information,
            cloud logging, and egress as a service. We achieved this by leveraging Terraform, Terragrunt, CI/CD, PR Automation, and
            internal tooling built predominantly with Go and Python.
          </p>
        </div>
      </div>
      <div class="cv-listing">
        <div class="company-details">
          <h4>YOOX Net-a-Porter Group</h4>
          <h5>DevOps Engineer</h5>
          <h5>E-Commerce Hybrid Infrastructure Automation</h5>
          <h6>April 2020 - 2022</h6>
        </div>
        <div class="job-description">
          <p>
            Whilst working in the E-Commerce Hybrid Infrastructure Automation team, we
            specialised in managing and developing infrastructure automation for the E-Commerce
            department across both VMware vSphere and AWS environments. My role involved
            ensuring seamless integration, scalability, and reliability for critical infrastructure services.
          </p>
        </div>
      </div>
      <div class="cv-listing">
        <div class="company-details">
          <h4>Sky Group</h4>
          <h5>Associate/Site Reliability Engineer</h5>
          <h5>Nimbus</h5>
          <h6>June 2016 - April 2020</h6>
        </div>
        <div class="job-description">
          <p>
            As an SRE on the Nimbus team, we developed, maintained, and supported (24/7 oncall)
            Sky's multiple internal, private cloud, open-source CloudFoundry deployments
            and services. We hosted over 1500 applications, spanning over 40 teams, with hundreds
            of users. We also maintained a large legacy platform that went through a series of decommissioning.
          </p>
        </div>
      </div>
    </section>
  </div>


  <div class="comms-button-wrapper">
    <a href="/assets/cv/alexander-mussell.pdf" download="">
      <button class="comms-button">DOWNLOAD CV</button>
    </a>
  </div>
</ul>

