---
layout: default
---
<ul class="base-layout">
  <li>
    <h1 id="page-label">Home</h1>
  </li>

<!--  <div class="commit-chart-container">-->
<!--    <img src="https://ghchart.rshah.org/AlexMussell" alt="Alexander Mussell personal account commit history." />-->
<!--  </div>-->


  <div class="introduction-container">
    <h2 class="job-title">Containerise, Automate, Script</h2>
    <div class="personal-summary">
      <p>Hi! I'm Alex and I have spent my career automating, creating, and supporting
        multi-environment platforms, infrastructure, and services
      at global scale, both in the cross cloud and on-premises. Proficient in leveraging configuration man-
      agement tools, CI/CD pipelines, and scripting, while adhering to Agile and DevOps
      practices.</p>
    </div>
  </div>

  <div class="comms-button-wrapper">
    <a href="mailto:alex@alexandermussell.com?subject=Enquiry for Alexander Mussell.">
      <button class="comms-button">EMAIL ME</button>
    </a>
  </div>

  <div class="employment-container">
    <section class="content-section">
      <header class="employment-header">
        <h3>Employment History</h3>
      </header>
      <div class="cv-listing">
        <div class="company-details">
          <h4>Sky Group/NBCUniversal </h4>
          <h5>Snr. Platform Engineer</h5>
          <h5>Global Pipeline and Tooling</h5>
          <h6>April 2025 - present</h6>
        </div>
        <div class="job-description">
          <p>
            Working a YOOX Net-a-Porter as an SRE on the ECommerce Infrastructure team where we are
            currently building out both our own Kubernetes cluster onto our underlying
            VMWare infrastructure, and building our own VIO instance for teams to consume.
            We also maintained a large legacy Puppet infrastructure.
          </p>
        </div>
      </div>
      <div class="cv-listing">
        <div class="company-details">
          <h4>Sky Group/NBCUniversal</h4>
          <h5>Snr. Site Reliability Engineer</h5>
          <h5>Cloud Engineering Platform</h5>
          <h6>April 2022 - 2025</h6>
        </div>
        <div class="job-description">
          <p>
            Working a YOOX Net-a-Porter as an SRE on the ECommerce Infrastructure team where we are currently building out both our own Kubernetes cluster onto our underlying VMWare infrastructure, and building our own VIO instance for teams to consume. We also maintain (and in the progress of migrating) legacy Puppet infrastructure to a more modern Terraform and Ansible approach.
          </p>
        </div>
      </div>
      <div class="cv-listing">
        <div class="company-details">
          <h4>YOOX Net-a-Porter Group</h4>
          <h5>DevOps Engineer</h5>
          <h5>E-Commerce Hybrid Infrastructure Automation</h5>
          <h6>April 2020 - 2022</h6>
        </div>
        <div class="job-description">
          <p>
            Working a YOOX Net-a-Porter as an SRE on the ECommerce Infrastructure team where we are currently building out both our own Kubernetes cluster onto our underlying VMWare infrastructure, and building our own VIO instance for teams to consume. We also maintain (and in the progress of migrating) legacy Puppet infrastructure to a more modern Terraform and Ansible approach.
          </p>
        </div>
      </div>
      <div class="cv-listing">
        <div class="company-details">
          <h4>Sky Group</h4>
          <h5>Associate/Site Reliability Engineer</h5>
          <h5>Nimbus</h5>
          <h6>June 2016 - April 2020</h6>
        </div>
        <div class="job-description">
          <p>
            As a Site Reliability Engineer on the Nimbus team, we developed, maintained, and supported
            Sky's multiple internal, private cloud, open-source CloudFoundry deployments
            and services. We hosted over 1500 applications, spanning over 40 teams, with hundreds
            of users.
          </p>
        </div>
      </div>
    </section>
  </div>


  <div class="comms-button-wrapper">
    <a href="/assets/cv/alexander-mussell.pdf" download="">
      <button class="comms-button">DOWNLOAD CV</button>
    </a>
  </div>
</ul>

